
extends layout

block content
  nav
    div.container
      h4 welcome
      div.row   
        div.col.s12
          ul.tabs
            a.li.tab.col.s3(href='/') that test
            a.li.tab.col.s3(href='/') another test

    script.
      var instance = M.Tabs.init(el, options);


