
extends layout

block content
  div.container
    div.section
      h4 welcome to your debts
      p.pblock  this is a simple node express vanilla sass and javascript app.
      .align-right
        a(href="/") git

    .section
      h4 login
      form
        .form-group
          input(type="email", name="myinput", placeholder="your email here dude. it won't be confirmed")
          label(for="myinput") this label
        .align-right
          button this button





