doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  body
    header.mui-appbar.mui--z1
      div.mui-appbar
        table
          tr(class="vertical-align:middle")
            td.mui--appbar-height left
    block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
