doctype html5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/main.css')
    title missing
  body
    include header.pug
    block content
